<body class="text-center">
    <main class="form-signin">

      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="text-center">
        <img class="mb-4" src="/assets/images/admin.png" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">Please Register</h1>
      </div>
      <div class="form-label-group">
        <input formControlName="displayName" type="displayName" id="inputEmail" class="form-control"
         placeholder="Display Name">
      <label for="inputEmail">Display Name</label>
      
      <span class="text-danger" *ngIf="registerForm.get('displayName')!.invalid
                                    && registerForm.get('displayName')!.touched 
                                    && registerForm.get('displayName')!.errors!['required']">
        Display Name is required
      </span>
</div>

<div class="form-label-group">
        <input formControlName="email" type="email" id="inputEmail" class="form-control"
         placeholder="Email address">
      <label for="inputEmail">Email address</label>
      
      <span class="text-danger" *ngIf="registerForm.get('email')!.invalid
                                    && registerForm.get('email')!.touched 
                                    && registerForm.get('email')!.errors!['required']">
        Email address is required
      </span>
      <span class="text-danger" *ngIf="registerForm.get('email')!.invalid
                                    && registerForm.get('email')!.touched 
                                    && registerForm.get('email')!.errors!['pattern']">
        Email address is not valid
      </span>
</div>
<div class="form-label-group">
  <input formControlName="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <label for="inputPassword" class="visually-hidden">Password</label>
        <span class="text-danger" *ngIf="registerForm.get('password')!.invalid && registerForm.get('password')!.touched && registerForm.get('password')!.dirty">
         Password is required
    </span>
  </div>
  <ul class="text-danger list-unstyled" *ngIf="errors">
    <li *ngFor="let error of errors">
        {{error}}
    </li> 

</ul>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
       
      </form>
    </main>    
</body>
